QMenuBar{
    background-color: #555555;
    color: #bbbbbb;
    border: none;
}

QMenuBar::item:selected {
    background-color: #4b6eaf;
    border: none;
}

QMenu {
    background-color: #555555;
    color: #bbbbbb;
    padding: 0;
}

QMenu::item:selected {
    background-color: #4b6eaf;
}

QPlainTextEdit#codeEdit{
    background-color: #2b2b2b;
    padding: 0;
    border: none;
    color: #bbbbbb;
}

QWidget#lineCounter{
    color: #57605a;
    background-color: #333333;
}